
/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
  font-family: 'Cute Font', cursive;
}
h2 {
  font-size: 70px;
 font-family: 'Cute Font', cursive;
}
h1, h2 { /If u put color here, every heading will change/
  font-family: 'Cute Font', cursive;
  font-weight: 400;
  margin: 0;  
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
  font-family: 'Cute Font', cursive;
  font-size: 40px;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

.work-experience {
  background: #d46c4e;
}
.work-experience a {
  color: #f9e07f;
}
.work-experience .btn {
  color: white;
  background: #7EA2AA;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}
.work-experience .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}
